* {
  margin: 0;
  padding: 0;
}

  html {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.5);
  }

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
.cor {
  color: #00AB6B
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, 0.5);
}

.tamanho-menu {
  background: #fff;
  width: 100%;
}

.menu {
  width: 1400px;
  height: 50px;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*border: 1px solid rgba(0, 0, 0, 0.1);*/
}

.menu-logo {

}
.logoescrito {
  font-weight: bold;
}
.menu-menu{

}
.menu-busca {

}
.logo-flex {
  display: flex;
  align-items: center;
}
.menu-item a {
  color: rgba(0, 0, 0, 0.5);
  margin-left: 5px;
  transition: 0.5s;
  font-size: 14px;
  font-weight: bold;
}

.menu-item a:hover {
  color: rgba(0, 0, 0, 1);
}

.tamanho {
  width: 1400px;
  max-width: 90%;
  margin: 0 auto
}

.tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  font-size: 16px;
  margin-bottom: 10px;
}

.tag {
  padding-left: 20px;
  font-size: 14px
}

.cards-flex {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.cards-flex2 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.borda-full {
  width: 90%;
  margin: 0 auto;
}

.cards {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  min-height: 150px;
  margin-bottom: 20px;
  transition: 0.2s;
  padding-top: 20px;
  padding-bottom: 20px
}
.cards:hover {

}

.card-foto {
  width: 100%;
  height: 150px;
  background: #ccc;
  background-position: center center!important;
  background-size: cover!important;
  margin-top: 20px;
}
.cards2 {
  flex-grow: 1;
  flex-basis: 300px;
  margin: 10px;
  padding-bottom: 25px
}
.card2 {
  margin: 0 auto;
}
.foto-card2 {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 200px;
  width: 100%;
}
.foto-c2 {
  background-position: center center!important;
  background-size: cover!important;
  background-origin: content-box;
  height: 200px;
  width: 100%;
}
.resumo2 {
  font-size: 18px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.7);
}
.post-title a {
  color: rgba(0, 0, 0, 0.8);
}
.post-title {
  color: rgba(0, 0, 0, 0.8);
  font-size: 40px;
  font-weight: bold;
  line-height: 42px;
}
.post-date {
  padding-bottom: 20px;
}
.card-topo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px
}
.foto-quem-postou {
  margin-right: 10px
}

.foto-qp {
  width: 30px;
  height: 30px;
  background: #ccc;
  border-radius: 50%
}
.autor-title {
  flex: 1;
  line-height: 10px
}
.autor-title h2 {
  color: #00AB6B;
  font-size: 14px
}
.card-resumo {
  padding-top: 10px;
  padding-bottom: 10px;
}
.autor-title span {
  font-size: 10px;
}

.resumo {
  line-height: 22px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}

.card-botao {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px
}

.btn-read-more {
  background: transparent;
  color: #00AB6B;
  /*border: 1px solid #00AB6B;*/
  min-width: 100px;
  height: 40px;
  border-radius: 20px;
  transition: 0.5s;
  font-size: 14px;
  font-weight: bold;
}

.btn-read-more:hover {
  color: rgba(0, 0, 0, 0.9);
}
.minutes {
  font-size: 12px;
}

footer {
background: #fff;
width: 100%;
padding-top: 50px;
padding-bottom: 50px;
color: rgba(0, 0, 0, 0.5);;
font-size: 14px;
margin-top: 20px;
}
.titulo {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
}
.tamanho-titulo {
  width: 800px;
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 10px;
}
.post-image {
  width: 100%;
  height: 300px;
  background: #ccc;
  background-position: center center!important;
  background-size: cover!important;
}
.post {
  width: 800px;
  max-width: 90%;
  overflow: hidden;
  margin: 0 auto
}

.about-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 500px;
  max-width: 90%;
  margin: 0 auto;
}

.aboutp {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #ccc;
}

.about h2 {
  color: rgba(0, 0, 0, 0.8);
}
.about p {
  font-size: 16px;
  line-height: 18px;
}
.tamanho-comment {
  width: 800px;
  max-width: 90%;
  margin: 0 auto;
}

.card3 {
  flex: 1;
}
.card3flex {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.c3 {
  flex-basis: 300px
}
.card3img {
  flex: 2;
  min-height: 200px;
  background-position: center center!important;
  background-size: cover!important;
  border: 1px solid #ccc;
  margin-right: 10px;
}
.card3text {
  flex: 1;
}
.esp {
  padding-bottom: 10px
}
.aparece-busca {
  width: 100%;
  position: relative;
}
.ap-busca {
  background: #fff;
  position: absolute;
  list-style: none!important;
  width: 100%;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
.apb {
  list-style: none!important
}
.inpt {
  width: 100%;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center
}
.input-busca {
  width: 300px;
  max-width: 95%;
  height: 30px;
  margin: 0 auto;
  font-size: 12px;
  border: none;
  outline: none;
  box-shadow: none;
}

.ap-busca li{
  margin-left: 10px
}
