<div class="tamanho-titulo">
  <!--h2 class="titulo">recents posts</h2-->
</div>
<div class="tamanho cards-flex">
  {% if site.posts.size == 0 %}
  <h2>No post found</h2> {% else %} {% for post in site.posts %}



  <div class="cards">
    <div class="borda-full">
      <div class="card-topo">
        <div class="foto-quem-postou">
          <div class="foto-qp">

          </div>
        </div>
        <div class="autor-title">
          <h2>Gustavo Quinalha</h2>
          <span><time>{{ post.date | date_to_string }}</time></span>
        </div>
      </div>
      <div class="card-foto" style="background: url('{{ site.baseurl }}/{{ post.image }}')">

      </div>
      <div class="card-resumo">
        <h2 class="post-title">
              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </h2>
        <div class="resumo">
          {{ post.description }}
        </div>
      </div>
      <div class="card-botao">
        <div class="card-btn1">
          <a href="{{ site.baseurl }}{{ post.url }}" class="btn-read-more">read more...</a>
        </div>
        <div class="minutes">
          <strong>4 min</strong> for read
        </div>
      </div>
    </div>
  </div>


  {% endfor %} {% endif %}
</div>
