---
layout: default
---

{% include minutes-to-read.html %}
<div class="post-image" style="background:url( {{ site.baseurl }}/{{ page.image }})">

</div>
  <article class="post">

    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-date">
        <time>{{ page.date | date_to_string }}</time>
        <span class="reading-time" title="Estimated read time"> - {{ minutesText }}</span>
    </div>

    {{ content }}


</article>

{% include ultimos.html %}
<div class="tamanho-comment">
{% include comments.html %}
</div>
